{% extends "/default/loggedin-base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="text-center m-5 p-5 items-center justify-center">

    <h1 class="text-5xl font-bold m-5">OpenAI & HTMX Example</h1>
    <p class="text-3xl m-5">This is an example of using OpenAI and HTMX</p>


    <form hx-trigger="submit" hx-swap="innerHTML" hx-target="#openai-response" hx-post="/openai/" method="POST" id="my-form">
        <textarea  class="textarea textarea-bordered m-2" type="text" placeholder="Enter your Sytem Prompt" name="system_prompt" id="system_prompt"></textarea>
        <textarea  class="textarea textarea-bordered m-2" type="text" placeholder="Enter Your User Prompt" name="user_prompt" id="user_prompt"></textarea>
        <textarea  class="textarea textarea-bordered m-2" type="text" placeholder="Enter your Task Prompt" name="task_prompt" id="task_prompt"></textarea>
        <br>
        <div class="tooltip" data-tip="Clicking this button will make a call to OpenAI API, and return response.">
            <button type="submit" class="btn btn-active btn-primary items-center">Submit</button>
          </div>
    </form>
    
    <div id="openai-response" class="font-bold m-5 p-5 bg-primary-content min-h-48 rounded-lg">
        Here the response will be.
    </div>
</div>

{% endblock %}
