{% extends "/default/loggedin-base.html" %}

{% block title %} Dashboard : {{ selected_property}}  {% endblock %}

{% block content %}

<div class="flex flex-row">

    <div role="alert" class="alert alert-success max-w-fit	 pr-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <b>GSC Property : </b>
      <span>{{ selected_property}}</span>
    </div>
  
    <div role="alert" class="alert alert-success max-w-fit pr-10 ml-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span><b>Brand Terms :</b>  {{ brand_keywords }}</span>
    </div>
  
</div>

<div role="alert" class="alert alert-info max-w-fit mt-5">

  <div class="badge badge-primary badge-outline">New Feature!</div>
  <span>For AI Optimized Title & Meta Description, go to <a href="/reports/sitewide-pages" class="link">Sitewide Pages</a>, Click on "Fetch Data" button, and click on "Optimize CTR" in the table.</span>
</div>

<h2 class="text-4xl font-bold m-10">Reports</h2>

<div class="grid grid-cols-3 gap-5 m-10">
  <div>
    <h2 class="text-2xl">Sitewide Overview</h3>
      <p class="text-l mt-2 font-bold">Aggregate, By Country, By Device</p>
      <p class="text-sm mt-2">Table with Data showing Current Period, Previous Period & Previous Year GSC Metrics</p>
      <a href="/reports/sitewide-overview/"><button class="btn btn-neutral mt-5">Explore</button></a>
      
  </div>
  <div>
    <h2 class="text-2xl">Sitewide Queries</h3>
    <p class="text-l mt-2 font-bold">Queries by Brand vs Non Brand Labels</p>
    <p class="text-sm mt-2">Table with Queries showing Current Period, Previous Period & Previous Year GSC Metrics</p>
    <a href="/reports/sitewide-queries/"><button class="btn btn-neutral mt-5">Explore</button></a>
  </div>
  <div>
    <h2 class="text-2xl">Sitewide Pages</h3>
    <p class="text-l mt-2 font-bold">List of Pages</p>
    <p class="text-sm mt-2">Table with Pages showing Current Period, Previous Period & Previous Year GSC Metrics</p>
    <a href="/reports/sitewide-pages/"><button class="btn btn-neutral mt-5">Explore</button></a>
  </div>
</div>

<h2 class="text-4xl font-bold m-10">Charts</h2>

<div class="grid grid-cols-3 gap-5 m-10">

  <div>
    <h2 class="text-2xl">Organic Search CTR</h3>
      <p class="text-l mt-2 font-bold">Brand & Non Brand by Country</p>
      <p class="text-sm mt-2">This chart shows Organic Search CTR for Branded and Non Branded Search Queries for each country.</p>
      <a href="/charts/organic-ctr/"><button class="btn btn-neutral mt-5">Explore</button></a>      
  </div>


  <div>
    <h2 class="text-2xl">Sitewide Analysis</h3>
      <p class="text-l mt-2 font-bold">By Brand, Non Brand & Anonymized Queries</p>
      <p class="text-sm mt-2">GSC Metrics Charts by Brand vs Non Brand Queries</p>
      <a href="/charts/sitewide-brand-vs-non-brand/"><button class="btn btn-neutral mt-5">Explore</button></a>      
  </div>

  

</div>






{% endblock %}
