{% extends "/default/loggedout-base.html" %}

{% block title %} GSC Explorer {% endblock %}

{% block content %}

<!-- Hero Banner -->
<div class="hero bg-neutral-content p-4">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <iframe width="500" height="300" 
      src="https://www.youtube.com/embed/5-zfPmm8HKw?si=2kGcWfCnC_uYtuZh" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <img src="{{ url_for('static', filename='/images/flask-for-microsaas.png') }}" class="max-w-sm rounded-lg shadow-2xl hidden" />
    <div>
      <h1 class="text-5xl font-bold">GSC Explorer ✨</h1>
      <h2 class="text-3xl mt-2 mb-2">🔥 Explore your GSC Data in Meaningful ways.</h2>
      <ul class="mb-4 mt-4">
        <li class="mt-2">💰 Completely FREE! No strings attached.</li>
        <li class="mt-2">⚒️ Prebuilt Charts & Reports for Google Search Console Data</li>
        <li class="mt-2">⚒️ <a href="https://github.com/TheMihirNaik/gsc-explorer-app" class="link" target="_blank">OpenSource GSC Web Application</a> anyone can contribute to!</li>
      </ul>
      <a href="/dashboard/"><button class="btn btn-active btn-primary m-0">Continue to Dashboard</button></a>

      <div class="mt-4">
        Built by <a href="https://www.mihirnaik.com/" class="link">Mihir Naik</a>  with ❤️ in Toronto, Canada

      </div>

    </div>

    
  </div>
</div>

<!-- FAQs-->
<div class=" pb-10 bg-neutral-content mx-auto w-1/2 items-center justify-center">

  <h2 class="text-4xl font-bold mx-auto text-center">Expected Questions</h2>

  <div class="pt-4 pb-4">
    <div class="collapse collapse-arrow bg-neutral-content">
      <input type="radio" name="my-accordion-2" checked="checked" /> 
      <div class="collapse-title text-xl font-medium">
        Why GSC Explorer is FREE?
      </div>
      <div class="collapse-content"> 
        <p>This is my learning project. I know I don't have skills to release a product where I can charge yet, but I want to learn. 
          I just expect this to be useful in your worklow, and you put in more feature request so I can learn more. Since, GSC API is free, the cost of running this project is just $7 per month. </p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-neutral-content">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title text-xl font-medium">
        Do you store any data?
      </div>
      <div class="collapse-content"> 
        This tool calls GSC API when you hit "Fetch" button. All the data and credentials are store locally, and gets removed once you exit the session. 
        There are no database connections in the code. Refer to the <a href="https://github.com/TheMihirNaik/gsc-explorer-app" target="_blank" class="link">public codebase</a> to verify.
      </div>
    </div>
    <div class="collapse collapse-arrow bg-neutral-content">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title text-xl font-medium">
        What's worth knowing?
      </div>
      <div class="collapse-content"> 
        <p>i've installed Google Analytics 4 (GA4) to help me understand how our products are being used and to learn more about user behavior. 
          This information will help us improve your experience with our products. Personally, I want to learn more about product analytics as well.
          <br>
          <br>
          Additionally, I've installed Microsoft Clarity to get insights through heatmaps and session recordings. 
          This means I might be able to see recordings of how you interact with our site. 
          I'm doing this to identify areas for improvement and to make our features even better for you.</p>
      </div>
    </div>
  </div>

</div>


<!-- Choices -->
<div class="mt-20 mb-20 hidden">
  <h2 class="text-3xl font-bold text-center m-10">What are the choices in Flask Boilerplate? </h2>

  <div class="grid grid-cols-3 gap-4 m-10">
    <div >
      <h3 class="text-2xl font-bold">DaisyUI on TailwindCSS</h3>
      <p>Very flexible TailwindCSS with DaisyUI for quick builds.</p>
    </div>
    <div>
      <h3 class="text-2xl font-bold">MongoDB Connection</h3>
      <p>Using pymongo to connect to MongoDB database.</p>
      Here is an <a href="/dashboard/" class="link">example</a> of how I'm using it.</p>
    </div>
    <div>
      <h3 class="text-2xl font-bold">HTMX</h3>
      <p>HTMX for interactivity. Use click and buttons to trigger GET and POST requests. 
        The server will send HTML fragments that will get relace a part of the HTML.
        Here is an <a href="/openai/" class="link">example</a> of how I'm using it.</p>
    </div>
  </div>
</div>

<div class="mt-20 mb-20 hidden">
  <h2 class="text-3xl font-bold text-center m-10">Ready to Use Integrations</h2>

  <div class="grid grid-cols-3 gap-4 m-10">
    <div>
      <h3 class="text-2xl font-bold">Google Search Console API</h3>
      <p>For SEO tasks, GSC data is important. Here is authentication and authorization for GSC.
        Here is an <a href="/google-search-console/" class="link">example</a> of how I'm using it.</p>
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-bold">DataTables</h3>
      <p>To show tables, using DataTables as it comes packed with features.
        Here is an <a href="/datatables/" class="link">example</a> of how I'm using it.</p>
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Plotly</h3>
      <p>To visulize data, using Plotly Express. Here is an <a href="/plotly-graphs/" class="link">example</a> of how I'm using it.</p>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4 m-10">
    <div>
      <h3 class="text-2xl font-bold">ValueSERP API</h3>
      <p>For SEO tasks, scraping real-time SERP is important so I have integrated with ValueSERP
        Here is an <a href="/valueserp-api/" class="link">example</a> of how I'm using it.</p>
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Customer Feedback</h3>
      <p>For any web application, getting user feedback or suggestion is important so I have built native way to collect it.
        You can click on bottom right corner comment icon and check
      </p>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Stripe Payments (Coming soon)</h3>
  
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4 m-10">
    <div>
      <h3 class="text-2xl font-bold">Transactional Emails (Coming soon)</h3>
      
    </div>
    <div>
      <h3 class="text-2xl font-bold">Product Analytics (Coming Soon)</h3>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Suggest Feature</h3>
    </div>
  </div>

</div>


{% endblock %}
