{% extends "/default/loggedin-base.html" %}

{% block title %} Sitewide Pages for {{ selected_property}} {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

<!-- Website Name & Brand Term Section-->
<div class="flex flex-row p-2">

  <div role="alert" class="alert alert-success max-w-fit pr-10">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <b>GSC Property : </b>
    <span>{{ selected_property}}</span>
  </div>

  <div role="alert" class="alert alert-success max-w-fit pr-10 ml-10">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span><b>Brand Terms :</b>  {{ brand_keywords }}</span>
  </div>

</div>

<div class="row-auto p-2">

  <!-- H1 Heading -->
  <div class="row-auto p-2">
    <h1 class="text-2xl font-bold mt-2 mb-2 justify-center flex-row">Optimize Title & Meta Descriptions : </h1>
    <p>Selected Page : <a href="{{ page }}" target="_blank" class="link" id="page">{{ page }}</a></p>
  </div>

  <!-- GSC Data Form -->
  <div class="row-auto p-2">


    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;" class="inline-block max-w-fit mr-5">
      <i class="fa fa-calendar"></i>&nbsp;
      <span></span> <i class="fa fa-caret-down"></i>
    </div>
    
    <form id="dateRangeForm" hx-post="/actionable-insights/optimize-ctr" hx-swap="innerHTML" hx-target="#pages-aggregate-data" class="inline-block">
      <input type="hidden" name="start_date" id="start_date">
      <input type="hidden" name="end_date" id="end_date">
      <input type="hidden" name="page" id="page" value="{{ page }}">
      <button type="submit" class="btn btn-primary">Fetch Data</button>
      <span class="loading loading-dots loading-lg htmx-indicator align-middle"></span>
    </form>

  </div>


  <div id="pages-aggregate-data">

    <!-- Explainer-->
    <div role="alert" class="alert mt-2 bg-primary-content text-sm max-w-fit">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      <span> 
          Once you hit "Fetch Data" button, depending on the size of your data, you will have to wait for a couple of mins on this page.
          <!-- <p class="text-xs">
              If it's taking longer than 2 mins, try reducing the date range to 7 days.
          </p>-->
          
      </span>
    </div>

  </div>

</div>


<!--  Date Picker Script -->

<script type="text/javascript">
  $(function() {
  
    var start = moment().subtract(31, 'days');
    var end = moment().subtract(2, 'days');
  
      function cb(start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          $('#start_date').val(start.format('MM/DD/YYYY'));
          $('#end_date').val(end.format('MM/DD/YYYY'));
      }
  
      $('#reportrange').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
             'Last 7 Days': [moment().subtract(6, 'days'), moment()],
             'Last 30 Days': [moment().subtract(29, 'days'), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, cb);
  
      cb(start, end);
  
  });
</script>



<!-- <script>
  const startInput = document.querySelector('input[name="start_date"]');
  const endInput = document.querySelector('input[name="end_date"]');
  const datepickerStart = new Datepicker(startInput, {
    // options for start datepicker
  });
  const datepickerEnd = new Datepicker(endInput, {
    // options for end datepicker
  });
</script> -->

<script>
  function generateAITitle() {
  // Get OpenAI API key from local storage
  const openai_api_key = localStorage.getItem('openai_api_key');

  // Check if the API key exists
  if (!openai_api_key) {
    alert('Please add your OpenAI API key to generate a Title.');
    return; // Exit the function if API key is missing
  }

  // Get the values from the DOM
  const existingTitleElement = document.querySelector('#existing_title').textContent;
  const page = document.querySelector('#page').textContent;
  const h1 = document.querySelector('#hidden-h1-data').textContent;

  // Parse the JSON data into a JavaScript object
  const titleQueryTokensCount = JSON.parse(document.getElementById('hidden-json-data').textContent);

  // Show loading spinner
  const loadingIndicator = document.getElementById('loading-indicator');
  loadingIndicator.style.display = 'inline-block'; // Show the spinner

  // Prepare the data to send in the POST request
  const postData = {
    openai_api_key: openai_api_key,
    existing_title: existingTitleElement,
    page: page,
    titleQueryTokensCount: titleQueryTokensCount,
    h1: h1
  };

  // Send POST request to the server
  fetch('/optimize-ctr/generate-ai-title/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(postData)
  })
    .then(response => response.text()) // Assuming the server returns just the HTML string
    .then(data => {
      // Hide loading spinner
      loadingIndicator.style.display = 'none';

      // Insert the rendered HTML into the DOM
      const aiGeneratedTitleDiv = document.getElementById('ai-generated-title');
      aiGeneratedTitleDiv.innerHTML = data; // Insert the HTML response from the server
    })
    .catch(error => {
      // Hide loading spinner if error occurs
      loadingIndicator.style.display = 'none';
      console.error('Error:', error);
    });
}

</script>

<script>
  function generateAIMetaDescription() {
  // Get OpenAI API key from local storage
  const openai_api_key = localStorage.getItem('openai_api_key');

  // Check if the API key exists
  if (!openai_api_key) {
    alert('Please add your OpenAI API key to generate a meta description.');
    return; // Exit the function if API key is missing
  }

  // Get the values from the DOM
  const existingTitleElement = document.querySelector('#existing_title').textContent;
  console.log(existingTitleElement);
  const existingMetaDescriptionElement = document.querySelector('#existing_meta_desc').textContent;
  console.log(existingMetaDescriptionElement);
  const page = document.querySelector('#page').textContent;
  console.log(page);
  const h1 = document.querySelector('#hidden-h1-data').textContent;
  console.log(h1);

  // Parse the JSON data into a JavaScript object
  const metaDescQueryTokensCount = JSON.parse(document.getElementById('hidden-json-data-meta-desc').textContent);
  console.log(metaDescQueryTokensCount);

  // Show loading spinner
  const loadingIndicator = document.getElementById('loading-indicator-meta-desc');
  loadingIndicator.style.display = 'inline-block'; // Show the spinner

  // Prepare the data to send in the POST request
  const postData = {
    openai_api_key: openai_api_key,
    existing_title: existingTitleElement,
    existingMetaDescriptionElement: existingMetaDescriptionElement,
    page: page,
    metaDescQueryTokensCount: metaDescQueryTokensCount,
    h1: h1
  };

  // Send POST request to the server
  fetch('/optimize-ctr/generate-ai-meta-description/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(postData)
  })
    .then(response => response.text())  // Assuming the server returns just the HTML string
    .then(data => {
      // Hide loading spinner
      loadingIndicator.style.display = 'none';

      // Insert the rendered HTML into the DOM
      const aiGeneratedTitleDiv = document.getElementById('ai-generated-meta-description');
      aiGeneratedTitleDiv.innerHTML = data;  // Insert the HTML response from the server
    })
    .catch(error => {
      // Hide loading spinner if error occurs
      loadingIndicator.style.display = 'none';
      console.error('Error:', error);
    });
}

</script>




{% endblock %}
