@ -8,7 +8,7 @@
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

<!-- Website Name & Brand Term Section-->
<div class="flex flex-row p-2">
<div class="flex flex-row">

  <div role="alert" class="alert alert-success max-w-fit pr-10">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
@ -27,8 +27,8 @@

  <!-- H1 Heading -->
  <div class="row-auto p-2">
    <h1 class="text-3xl font-bold mt-2 mb-2 justify-center flex-row">Optimize Title & Meta Descriptions : </h1>
    <p>Selected Page : <a href="{{ page }}" target="_blank" class="link" id="page">{{ page }}</a></p>
    <h1 class="text-5xl font-bold mt-5 mb-5 justify-center flex-row">Optimize Page : </h1>
    <P>{{ page }}</P>
    

  </div>
@ -117,108 +117,5 @@
  });
</script> -->

<script>
  function generateAITitle() {
    // Get the values from the DOM
    const existingTitleElement = document.querySelector('#existing_title').textContent;
    const page = document.querySelector('#page').textContent;
    const h1 = document.querySelector('#hidden-h1-data').textContent;

    // Parse the JSON data into a JavaScript object
    const titleQueryTokensCount = JSON.parse(document.getElementById('hidden-json-data').textContent);

    // Show loading spinner
    const loadingIndicator = document.getElementById('loading-indicator');
    loadingIndicator.style.display = 'inline-block'; // Show the spinner

    // Prepare the data to send in the POST request
    const postData = {
      existing_title: existingTitleElement,
      page: page,
      titleQueryTokensCount: titleQueryTokensCount,
      h1: h1
    };

    // Send POST request to the server
    fetch('/optimize-ctr/generate-ai-title/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(postData)
    })
    .then(response => response.text())  // Assuming the server returns just the HTML string
    .then(data => {
      // Hide loading spinner
      loadingIndicator.style.display = 'none';
      
      // Insert the rendered HTML into the DOM
      const aiGeneratedTitleDiv = document.getElementById('ai-generated-title');
      aiGeneratedTitleDiv.innerHTML = data;  // Insert the HTML response from the server
    })
    .catch(error => {
      // Hide loading spinner if error occurs
      loadingIndicator.style.display = 'none';
      console.error('Error:', error);
    });
  }
</script>

<script>
  function generateAIMetaDescription() {
    // Get the values from the DOM
    const existingTitleElement = document.querySelector('#existing_title').textContent;
    console.log(existingTitleElement);
    const existingMetaDescriptionElement = document.querySelector('#existing_meta_desc').textContent;
    console.log(existingMetaDescriptionElement);
    const page = document.querySelector('#page').textContent;
    console.log(page);
    const h1 = document.querySelector('#hidden-h1-data').textContent;
    console.log(h1);

    // Parse the JSON data into a JavaScript object
    const metaDescQueryTokensCount = JSON.parse(document.getElementById('hidden-json-data-meta-desc').textContent);
    console.log(metaDescQueryTokensCount);

    // Show loading spinner
    const loadingIndicator = document.getElementById('loading-indicator-meta-desc');
    loadingIndicator.style.display = 'inline-block'; // Show the spinner

    // Prepare the data to send in the POST request
    const postData = {
      existing_title: existingTitleElement,
      existingMetaDescriptionElement : existingMetaDescriptionElement,
      page: page,
      metaDescQueryTokensCount: metaDescQueryTokensCount,
      h1: h1
    };

    // Send POST request to the server
    fetch('/optimize-ctr/generate-ai-meta-description/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(postData)
    })
    .then(response => response.text())  // Assuming the server returns just the HTML string
    .then(data => {
      // Hide loading spinner
      loadingIndicator.style.display = 'none';
      
      // Insert the rendered HTML into the DOM
      const aiGeneratedTitleDiv = document.getElementById('ai-generated-meta-description');
      aiGeneratedTitleDiv.innerHTML = data;  // Insert the HTML response from the server
    })
    .catch(error => {
      // Hide loading spinner if error occurs
      loadingIndicator.style.display = 'none';
      console.error('Error:', error);
    });
  }
</script>




{% endblock %}