
<!-- Notice-->
<div role="alert" class="alert alert-info shadow-lg max-w-3xl mb-6">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    <span>
        <p class="text-xs"> The terms highlighted in <span class="badge badge-accent">this color</span> are the most frequently searched keywords but are not currently included in the existing titles.</p>
    </span>
  </div>

  

  <!-- Title & Meta Description Analysis -->
  <div class="grid grid-cols-2 gap-6">
    
    <!-- Title Analysis -->
    <div class="card bg-neutral-content">
        
      <div class="card-body">

        <h2 class="card-title text-base">Existing Title</h2>
        
        <p id="existing_title" class="text-sm">{{ title }}</p>

        <h2 class="card-title mt-6 text-base">Terms Analysis:</h2>
        
        <ul class="mt-2">
        {% for token in title_query_tokens_count %}
                    
            <div class="tooltip" data-tip="{{ token[3] }}">

            {% if token[2] %}
                <span class="badge badge-neutral p-3 m-1"><i class="fa-solid fa-circle-info"></i>  &nbsp;  {{ token[0] }} ({{ token[1] }})</span>
            {% else %}
                <span class="badge badge-accent p-3 m-1"><i class="fa-solid fa-circle-info"></i>  &nbsp;  {{ token[0] }} ({{ token[1] }})</span>
            {% endif %}
            </div>
        {% endfor %}

        </ul>

        <!-- Hidden JSON data -->
        <div id="hidden-json-data" style="display:none;">
            {{ title_query_tokens_count | tojson }}
        </div>

        <div id="hidden-h1-data" style="display:none;">
            {{ h1 }}
        </div>
        
        <button id="generate-title-btn" onclick="generateAITitle()" class="btn btn-primary max-w-fit mt-6">
            <i class="fa-solid fa-robot"></i> Generate AI-assisted Title
        </button>

      </div>
    </div>

    <!-- Meta Description Analysis -->
    <div class="card bg-neutral-content">
      <div class="card-body">
        
        <h2 class="card-title text-base">Existing Meta Descriptions</h2>
        
        <p id="existing_meta_desc" class="text-sm">{{ meta_desc }}</p>
  
        <h2 class="card-title mt-6 text-base">Terms Analysis:</h2>

        <ul class="mt-2">
            {% for token in title_query_tokens_count %}

            <div class="tooltip" data-tip="{{ token[3] }}">

            {% if token[2] %}
                <span class="badge badge-neutral p-3 m-1"><i class="fa-solid fa-circle-info"></i>  &nbsp;  {{ token[0] }} ({{ token[1] }}) </span>
            {% else %}
                <span class="badge badge-accent p-3 m-1"><i class="fa-solid fa-circle-info"></i>   &nbsp; {{ token[0] }} ({{ token[1] }})</span>
            {% endif %}
            </div>
        {% endfor %}
        </ul>

        <!-- Hidden JSON data -->
        <div id="hidden-json-data-meta-desc" style="display:none;">
            {{ meta_desc_query_tokens_count | tojson }}
        </div>

        <div id="hidden-h1-data" style="display:none;">
            {{ h1 }}
        </div>
        
        <button id="generate-meta-desc-btn" onclick="generateAIMetaDescription()" class="btn btn-primary max-w-fit mt-6">
            <i class="fa-solid fa-robot"></i> Generate AI-assisted Meta Description
        </button>

      </div>
        
    </div>
  </div>


  <!-- AI Results -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
    
    <div class="card bg-base-200 shadow-lg p-5">
        <div class="flex items-center mb-3">
            <span class="loading loading-spinner text-primary" id="loading-indicator" style="display:none;"></span>
            <h3 class="text-lg font-semibold ml-2">AI Generated Title</h3>
        </div>
        
        <div id="ai-generated-title" class="text-center">
            <p class="text-sm text-neutral-content">AI-assisted Optimized Title will be here.</p>
        </div>
    </div>

    <div class="card bg-base-200 shadow-lg p-5">
        <div class="flex items-center mb-3">
            <span class="loading loading-spinner text-primary" id="loading-indicator-meta-desc" style="display:none;"></span>
            <h3 class="text-lg font-semibold ml-2">AI Generated Meta Description</h3>
        </div>
        
        <div id="ai-generated-meta-description" class="text-center">
            <p class="text-sm text-neutral-content">AI-assisted Optimized Meta Description will be here.</p>
        </div>
    </div>
    
  </div>

  <h2 class="text-2xl font-bold mb-12"> GSC Search Queries in Top 10 Positions</h2>

  {{ query_list }}

  <!-- HTML Table -->
    <table id="byQuery" class="table table-xs">
        <!-- Table header will be populated dynamically -->
        <thead>
            <!-- Define your table headers here if known -->
            <!-- Example: <th>Name</th><th>Age</th> -->
        </thead>
        <tbody>
            <!-- Table body will be populated dynamically -->
        </tbody>
    </table>



<!-- DataTables initialization script -->
<script>

    var data_load = {{ data_json | tojson }};
    // Retrieve data from local storage
    var data = JSON.parse(data_load);

    // Initialize DataTables with retrieved data
    $('#byQuery').DataTable({
        //columnDefs: [{ width: 300, targets: 0 }],
        ordering: true,
        data: data.data, // Assuming the JSON data has a 'data' key
        columns: data.columns.map(function(columnName) {
            return { title: columnName }; // Creating column definition objects with 'title' property
        }),
        order: [[1, 'desc']], // Ordering by the 2nd column (index 1) in ascending order
        dom: 'QtpRB',
        fixedHeader: true,
        //fixedColumns: true,
        //scrollX: true,
        //scrollY: true
    });

    // Change button text after first click for Title
    document.getElementById('generate-title-btn').addEventListener('click', function() {
        this.innerHTML = '<i class="fa-solid fa-robot"></i> Regenerate AI Title';
    });

    // Change button text after first click for Meta Description
    document.getElementById('generate-meta-desc-btn').addEventListener('click', function() {
        this.innerHTML = '<i class="fa-solid fa-robot"></i> Regenerate AI Meta Description';
    });

</script>
